<h6>マイページ</h6>
<h8>登録情報</h8> <%= link_to "編集する", edit_customer_registration_path %>
<table>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postcode %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
      <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
<h8>配送先</h8> <%= link_to "一覧を見る", addresses_path  %><br>
<h8>注文履歴</h8> <%= link_to "一覧を見る", orders_path %>
