<div class="container">
 <span style="background-color:#CCCCCC">商品一覧</span>
  <%= link_to new_admin_item_path do %><i class="fas fa-plus"></i><% end %>
  <div class="row">
    <div class="col">
     <table class="table">
      <thead style="background-color:#dcdcdc">
       <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
       </tr>
      </thead>
       <% @items.each do |item| %>
      <tbody>
       <tr>
        <td><%= item.id %></td>
        <td><%= link_to admin_item_path(item.id) do %><%= item.name %><% end %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><% if item.is_active == true %>
             <font color="#33ff33"><strong>販売中</strong></font>
            <% else %>
              <font color="#dcdcdc"><strong>販売停止中</strong></font>
            <% end %></td>
       </tr>
      </tbody>
       <% end %>
     </table>
    </div>
  </div>
  <%= paginate @items %>
</div>
