<div class="container">
 <div class="d-flex align-items-center justify-content-center" style="height:300px;">
   <div class="row">
    <div class="col">
   <span style="background-color:#CCCCCC">管理者ログイン</span>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    <table>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "ログイン", class: "btn btn-primary btn-sm" %></td>
      </tr>
    </table>
   <% end %>
  <%= render "admin/shared/links" %>
  </div>
  </div>
  </div>
</div>
