<div class="container">
 <div class="row">
  <div class="col-lg-3">ジャンル検索</div>
  <div class="col-lg-6">
   ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。<br>
  </div>
  <div class="col-lg-3"></div>
 </div>
 <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-9">
   <strong>新着商品</strong>
    <table>
     <tr>
      <% @items.each do |item| %>
       <td>
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_item_image(150,100) %><% end %><br>
        <%= item.name %><br>
        ￥<%= item.add_tax_price %><br>
       </td>
      <% end %>
     </tr>
    </table>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
 </div>
</div>