<div class="container">
  <div class="row">
    <div class="col">
     <span style="background-color:#dcdcdc">注文履歴詳細</span>
     <table>
       <tr>
         <th>購入者</th>
         <td><%= link_to admin_customer_path(@order.customer.id) do %><%= @order.customer.last_name + @order.customer.first_name %><% end %></td>
       </tr>
       <tr>
         <th>注文日</th>
         <td><%= l @order.created_at %></td>
       </tr>
       <tr>
         <th>配送先</th>
         <td>〒<%= @order.postcode %><%= @order.address %></td>
       </tr>
       <tr>
         <th>支払方法</th>
         <td><%= @order.payment_method_i18n %></td>
       </tr>
       <tr>
         <th>注文ステータス</th>
         <td><%= @order.status_i18n %></td>
       </tr>
     </table>
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <% @order_details.each do |order_detail| %>
    <tbody>
     <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.quantity %></td>
      <td><%= order_detail.subtotal %></td>
      <td><%= order_detail.making_status_i18n %></td>
      <td>更新</td>
     </tr>
    </tbody>
    <% end %>
  </table>
  <table >
    <tbody>
      <tr>
        <td>商品合計</td>
        <td><%= @order.item_subtotal %>円</td>
      </tr>
      <tr>
        <td>送料</td>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td><%= @order.billing_amount %>円</td>
      </tr>
    </tbody>
  </table>
   </div>
  </div>
</div>