
<h4>注文履歴詳細</h4>
<P>購入者 <%= link_to admin_customer_path(@order.customer.id) do %><%= @order.customer.last_name + @order.customer.first_name %><% end %></P>
<p>注文日 <%= l @order.created_at %></p>
<p>配送先 〒<%= @order.postcode %><%= @order.address %></p>
<p>支払方法 <%= @order.payment_method_i18n %></p>
<p>注文ステータス<%= @order.status_i18n %></p>
 <table>
    <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
    </thead>
  <% @order_details.each do |order_detail| %>
  <tbody>
  <tr>
    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.price %></td>
    <td><%= order_detail.quantity %></td>
    <td><%= order_detail.subtotal %></td>
    <td><%= order_detail.making_status_i18n %></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
  <% end %>
  </table>

  <table>
    <tbody>
      <tr>
        <td>商品合計</td>
        <td><%= @order.item_subtotal %>円</td>
      </tr>
      <tr>
        <td>送料</td>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td><%= @order.billing_amount %>円</td>
      </tr>
    </tbody>
  </table>