<h4>ジャンル一覧・追加</h4>
<%= form_with model: @genre ,url: admin_genres_path do |f| %>
 <%= f.text_field :name %>
 <%= f.submit '新規登録' %>
 <% end %>
 
 <h6>ジャンル</h6>
 <% @genres.each do |genre| %>
 <p><%= genre.name %> <%= link_to '編集する', edit_admin_genre_path(genre.id) %></p>
 <% end %>