<div class="container">
 <span style="background-color:#CCCCCC">新規会員登録</span>
  <div claass="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
     <%= form_with model: @customer, url: registration_path(resource_name) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
       <table>
        <tbody>
         <tr>
           <td>名前</td>
           <td>(姓)<div class="field"><%= f.text_field :last_name, autofocus: true %></div></td>
           <td>(名)<div class="field"><%= f.text_field :first_name, autofocus: true %></div></td>
         </tr>
         <tr>
           <td>フリガナ</td>
           <td>(セイ)<div class="field"><%= f.text_field :last_name_kana, autofocus: true %></div></td>
           <td>(メイ)<div class="field"><%= f.text_field :first_name_kana, autofocus: true %></div></td>
         </tr>
         <tr>
           <td>メールアドレス</td>
           <td><div class="field"><%= f.email_field :email, autofocus: true %></div></td>
           <td></td>
         <tr>
           <td>郵便番号(ハイフンなし)</td>
           <td><div class="field"><%= f.text_field :postcode, autofocus: true %></div></td>
           <td></td>
         </tr>
         <tr>
           <td>住所</td>
           <td><div class="field"><%= f.text_field :address, autofocus: true %></div></td>
         <tr>
           <td>電話番号</td>
           <td><div class="field"><%= f.text_field :telephone_number, autofocus: true %></div></td>
           <td></td>
         </tr>
         <tr>
           <td><div class="field"><%= f.label :"パスワード(6文字以上)" %></div></td>
           <td><div class="field"><%= f.password_field :password, autocomplete: "new-password" %></div></td>
         </tr>
         <tr>
           <td><div class="field"><%= f.label :"パスワード(確認用)" %></div></td>
           <td><div class="field"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div></td>
        </tr>
        <tr>
          <td></td>
          <td><div class="actions"><%= f.submit "新規登録", class: "btn btn-success" %></div></td>
        </tr>
      </tbody>
    </table>
   <% end %>
  </div>
  <div class="col-lg-1"></div>
</div>
<div claass="row">
 <div class="col-lg-1"></div>
 <div class="col-lg-8">
  <span style="background-color:#CCCCCC">既に登録済みの方</span><br>
   <%= link_to new_customer_session_path do %>こちら<% end %>  からログインして下さい
 </div>
</div>