<div class="container">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
   <div class="row">
    <div class="col">
     <span style="background-color:#CCCCCC">ログイン</span><br>
     <span style="background-color:#CCCCCC">会員の方はこちらからログイン</span>
      <%= form_with model: @customer, url: customer_session_path do |f| %>
       <table>
        <tr>
         <td><%= f.label :"メールアドレス" %></td>
         <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
         <td><%= f.label :"パスワード" %></td>
         <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
         <td></td>
         <td><%= f.submit "ログイン", class: "btn btn-primary btn-sm" %></td>
        </tr>
       </table>
      <% end %>
     <span style="background-color:#CCCCCC">会員登録がお済みでない方</span><br>
      <%= link_to new_customer_registration_path do %>こちら<% end %>  から新規登録を行ってください
    </div>
   </div>
 </div>
</div>
