<div class="container">
 <div class="row">
  <div class="col-lg-3">ジャンル検索</div>
  <div class="col-lg-9">
   <h4>商品一覧</h4><h7>(全<%= @item_count %>件)</h7>
   <table>
     <tr>
        <% @items.each do |item| %>
        <td>
        <%= link_to item_path(item.id) do %><%= image_tag item.get_item_image(200,150) %><% end %>
        <%= item.name %>
        ¥<%= item.add_tax_price.to_s(:dalimited) %>
        </td>
        <% end %>
     </tr>
   </table>
   <%= paginate @items %>
  </div>
 </div>
</div>